<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edmin admin is super flexible, powerful, clean &amp; modern responsive bootstrap admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Edmin admin template, best javascript admin, dashboard template, bootstrap admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Edmin - Premium Admin Template</title>
    <!-- Favicon icon-->
    <link rel="icon" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Cfavicon%5Cfavicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Cfavicon%5Cfavicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Ccss2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Font awesome icon css -->
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Call.min.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Cfontawesome.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Cbrands.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Csolid.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Cregular.css">
    <!-- Ico Icon css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40icon%5Cicofont%5Cicofont.css">
    <!-- Flag Icon css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Cflag-icon.css">
    <!-- Themify Icon css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Cthemify-icons%5Cthemify-icons%5Ccss%5Cthemify.css">
    <!-- Animation css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Canimate.css%5Canimate.css">
    <!-- Whether Icon css-->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Cweather-icons%5Ccss%5Cweather-icons.min.css">
    <!-- App css-->
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cstyle.css">
    <link id="color" rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Ccolor-1.css" media="screen">
  </head>
  <body>
    <!-- tap to top-->
    <div class="tap-top">
      <svg class="feather">
        <use href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Csvg%5Cfeather-icons%5Cdist%5Cfeather-sprite.svg#arrow-up"></use>
      </svg>
    </div>
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Body Start-->
      <div class="container-fluid p-0">
        <div class="comingsoon auth-bg-video">
          <video class="bgvideo-comingsoon" id="bgvid" poster="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Cother-images%5Ccoming-soon-bg.jpg" playsinline="" autoplay="" muted="" loop="">
            <source src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cvideo%5Cauth-bg.mp4" type="video/mp4">
          </video>
          <div class="comingsoon-inner text-center"><img class="img-fluid for-light" src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Clogo%5Clogo-login.png" alt=""><img class="img-fluid for-dark m-auto" src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Clogo%5Cdark-login-logo.png" alt="">
            <h5>WE ARE COMING SOON</h5>
            <div class="countdown" id="clockdiv">
              <ul>
                <li><span class="time" id="days"></span><span class="title">days</span></li>
                <li><span class="time" id="hours"></span><span class="title">Hours</span></li>
                <li><span class="time" id="minutes"></span><span class="title">Minutes</span></li>
                <li><span class="time" id="seconds"></span><span class="title">Seconds</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jquery-->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cvendors%5Cjquery%5Cdist%5Cjquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cvendors%5Cbootstrap%5Cdist%5Cjs%5Cbootstrap.bundle.min.js"></script>
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cconfig.js"></script>
    <!-- scrollbar js-->
    <!-- scrollable-->
    <!-- Countdown js-->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Ccountdown.js"></script>
    <!-- customizer-->
    <!-- custom script -->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cscript.js"></script>
  </body>
</html>