<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edmin admin is super flexible, powerful, clean &amp; modern responsive bootstrap admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Edmin admin template, best javascript admin, dashboard template, bootstrap admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Edmin - Premium Admin Template</title>
    <!-- Favicon icon-->
    <link rel="icon" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Cfavicon%5Cfavicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Cfavicon%5Cfavicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Ccss2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Font awesome icon css -->
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Call.min.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Cfontawesome.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Cbrands.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Csolid.css">
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40fortawesome%5Cfontawesome-free%5Ccss%5Cregular.css">
    <!-- Ico Icon css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5C%40icon%5Cicofont%5Cicofont.css">
    <!-- Flag Icon css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Cflag-icon.css">
    <!-- Themify Icon css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Cthemify-icons%5Cthemify-icons%5Ccss%5Cthemify.css">
    <!-- Animation css -->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Canimate.css%5Canimate.css">
    <!-- Whether Icon css-->
    <link rel="stylesheet" type="text/css" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cvendors%5Cweather-icons%5Ccss%5Cweather-icons.min.css">
    <!-- App css-->
    <link rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Cstyle.css">
    <link id="color" rel="stylesheet" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Ccss%5Ccolor-1.css" media="screen">
  </head>
  <body>
    <!-- tap to top-->
    <div class="tap-top">
      <svg class="feather">
        <use href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Csvg%5Cfeather-icons%5Cdist%5Cfeather-sprite.svg#arrow-up"></use>
      </svg>
    </div>
    <!-- loader-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- page-wrapper Start-->
    <div class="page-wrapper">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">     
            <div class="login-card login-dark">
              <div>
                <div><a class="logo" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Ctemplate%5Cindex.html.htm"><img class="img-fluid for-light" src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Clogo%5Clogo.png" alt="looginpage"><img class="for-dark" src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cimages%5Clogo%5Cdark-logo.png" alt="logo"></a></div>
                <div class="login-main"> 
                  <form class="theme-form">                   
                    <h2>Reset Your Password</h2>
                    <div class="form-group">
                      <label class="col-form-label">Enter Your Mobile Number</label>
                      <div class="row">
                        <div class="col-4 col-sm-3">
                          <input class="form-control mb-1" type="text" value="+ 91">
                        </div>
                        <div class="col-8 col-sm-9">
                          <input class="form-control mb-1" type="number" placeholder="000-0000-000">
                        </div>
                        <div class="col-12">
                          <div class="text-end">
                            <button class="btn btn-primary btn-block m-t-10" type="submit">Send</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4 mb-4"><span class="reset-password-link">If don't receive OTP?  <a class="btn-link text-danger" href="#">Resend</a></span></div>
                    <div class="form-group">
                      <label class="col-form-label pt-0">Enter OTP</label>
                      <div class="row">
                        <div class="col">
                          <input class="form-control text-center opt-text" type="text" value="00" maxlength="2">
                        </div>
                        <div class="col">
                          <input class="form-control text-center opt-text" type="text" value="00" maxlength="2">
                        </div>
                        <div class="col">
                          <input class="form-control text-center opt-text" type="text" value="00" maxlength="2">
                        </div>
                      </div>
                    </div>
                    <h6 class="mt-4 f-w-700">Create Your Password</h6>
                    <div class="form-group">
                      <label class="col-form-label">New Password</label>
                      <div class="form-input position-relative">
                        <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                        <div class="show-hide"><span class="show"></span></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Retype Password</label>
                      <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                    </div>
                    <div class="form-group mb-0 checkbox-checked">
                      <div class="form-check checkbox-solid-info">
                        <input class="form-check-input" id="solid6" type="checkbox">
                        <label class="form-check-label" for="solid6">Remember password</label>
                      </div>
                      <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Done                          </button>
                    </div>
                    <p class="mt-4 mb-0 text-center">Already have an password?<a class="ms-2" href="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Ctemplate%5Clogin.html.htm">Sign in</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jquery-->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cvendors%5Cjquery%5Cdist%5Cjquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cvendors%5Cbootstrap%5Cdist%5Cjs%5Cbootstrap.bundle.min.js"></script>
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cconfig.js"></script>
    <!-- scrollbar js-->
    <!-- scrollable-->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cpassword.js"></script>
    <!-- customizer-->
    <!-- custom script -->
    <script src="C%3A%5CDownloaded%20Web%20Sites%5Cfurqanadminpanel%5Cadmin.pixelstrap.net%5Cedmin%5Cassets%5Cjs%5Cscript.js"></script>
  </body>
</html>