table.custom-table tr:nth-child(odd)  {
    background-color: rgb(155 255 248 / 50%) !important
}
.page-link.active, .active > .page-link {
    background-color: #5bbdb6 !important;
    border-color: #54bab3 !important;
    color: White !important;
}
.page-link {
    color: #67bdb7 !important;
}
.padding-100{
    padding: 100px;
}
.header-right{
    margin-right: 70px !important;
}




@media only screen and (max-width: 600px) {
    .padding-100 {
        padding: 15px;
    }
}

