.theme-bg{
    background: linear-gradient(to right, #EAFBFC 0%, #F9EEF2 50%, #F9EEF2 100%);;
}
.form-bg{
    background: white;
    backdrop-filter: blur(35px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px !important;
}
.form-control {
border-radius: 4px;
    color: #6c757d;
    padding: .4rem .75rem;
    font-size: 15px;

}
.btn-theme{
    background: #D7486B;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
.btn-theme:hover {
    color: #D7486B;
    background: white;
    border: 1px solid #D7486B;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: calc(2.6rem + 2px);
}
.form-floating>label {
    padding: .6rem 0.75rem
}
label {
    color: #6c757d;
    font-size: 12px;
    margin-left: 7px;
}
.form-control:focus {
    color: #6c757d;
    background-color: #fff;
    border-color: #d7486b;
    outline: 0;
    box-shadow: 0 0 0 .15rem rgb(215 72 107 / 25%);
}